  <div class="container">
  <div class="row">
      <div class="col-md-3">
        <img src="assets\istockphoto-161935733-612x612.jpg" class="card-img-top product-image" alt="...">
      </div>
      <div class="col-md-9 mr-minus15 padding">
        <div class="card-body mt-4 mb-5">
          <h5 class="card-title">Anticollision Ladder View Plot</h5>
          <p class="card-text mt-3">
            <span class="muted-lable">Contributed by: </span>
            <b>BP</b>
            &nbsp; | &nbsp;
            <span class="muted-lable">Created on: </span>
            <b>MAY 15,2023</b>
            &nbsp; | &nbsp;
            <span class="muted-lable">Link: </span>
            <b>N/A</b>
          </p> 
          <p>
            Compass Ladder Plot that includes switches for visualizing only the wells that failed the AC rule and to draw error uncertainty.  
          </p>
          <div class="d-flex justify-between w-100">
         <span  class="starPad">Rating:  </span>
         <img class="star " src="assets\star-disabled.png" alt="star">
         <img class="star" src="assets\star-disabled.png" alt="star">
         <img class="star" src="assets\star-disabled.png" alt="star">
         <img class="star" src="assets\star-disabled.png" alt="star">
         <img class="star1" src="assets\star-disabled.png" alt="star">
         <button type="button" class="btn">Get it Now</button>
        </div>
        </div>
      </div>
    </div>
 </div>